{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="col-md-6">
                  <form action="/login" method="post" id="request" class="main_form">
                     <div class="row">


                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email*" type="type" name="email">
                        </div>
                        <div class="col-md-6">
                           <input class="contactus" placeholder="Пароль" type="password" name="psw">
                        </div>

                        <div class="col-md-12 select-outline">

                        </div>

                        <div class="col-md-12">



                            <p><input type="submit" value="Вход" />




                        </div>
                     </div>
                  </form>
               </div>
{% endblock %}